{% assign pageCollection = site.collections | where: "label", page.collection | first %}
<div class="usa-site-navbar-secondary mobile-only">
    <ul class="usa-unstyled-list">
        <li>
          	{% if pageCollection.download-url %}
				<a href="{{ pageCollection.download-url }}" >
					<i class="fa fa-cloud-download"></i>&nbsp;<span>Download</span>
				</a>
			{% endif %}		
        </li>
        <li>
			{% if pageCollection.github-label %}
				<a href="{{site.repo_url}}/labels/{{pageCollection.github-label}}" >
			{% else %}
				<a href="{{site.repo_url}}/issues">
			{% endif %}
				<i class="fa fa-comments-o"></i>&nbsp;<span>Discuss</span>
			</a>
        </li>
    </ul>
</div>
