{% assign current = page.url | downcase | split: '/' %}

<aside class="sidenav" id="menu-content">
  <nav>
    {% assign currentCollection = site.collections | where: "label", page.collection | first %}
    
    <ul class="usa-sidenav-list">

      {% if currentCollection.label == null %}
        <li>
          <a class="usa-current-main" href="{{ site.baseurl }}">Home</a>  
          <a href="{{ site.baseurl }}/drafts/">Draft Policies</a> 
          <a href="{{ site.baseurl }}/finalized/">Finalized Policies</a>  
          <a href="{{ site.baseurl }}/resources/">Resources for Agencies</a> 
        </li>
      {% else %}
          <a class="usa-current-main" href="{{ site.baseurl }}">Home</a>  
        </li>
      {% endif %}
      <!--  iterate over collections and filter by status (draft, finalized, etc) -->  
      {% assign sorted_collections = (site.collections | sort: "title" ) %}
      {% for collection in sorted_collections %}
        {% if collection.status == currentCollection.status %}
          <li>
            {% if currentCollection.label == collection.label %}
              <a class="usa-current" href="{{ site.baseurl }}{{ collection.url }}">{{ collection.title }}</a>  
              <ul class="usa-sidenav-sub_list">
                {% assign currentSections = collection.docs | sort: "display_order" %}
                {% for section in currentSections %}
                    <li class="usa-current-section"><a href="{{ site.baseurl }}{{ section.permalink }}">{{ section.title }}</a>
                    </li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="{{ site.baseurl }}{{ collection.url }}">{{ collection.title }}</a>  
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}

    </ul>
  </nav>
</aside>
