{% assign current = page.url | downcase | split: '/' %}

<aside class="sidenav" id="menu-content">
  <nav>
    {% assign currentCollection = site.collections | where: "label", page.collection | first %}
    
    <ul class="usa-sidenav-list">
      <!--  iterate over collections and filter by status (draft, finalized, etc) -->
      <li>
        <a href="{{ site.baseurl }}/">Home</a>
      </li>  
      {% assign sorted_collections = (site.collections | sort: "title" ) %}
      {% for collection in sorted_collections %}
        {% if collection.status == currentCollection.status %}
          <li>
            {% if currentCollection.label == collection.label %}
              <a class="usa-current" href="{{ site.baseurl }}{{ collection.url }}">{{ collection.title }}</a>  
              <ul class="usa-sidenav-sub_list">
                {% for section in collection.docs %}
                  <li class="usa-current-section"><a href="{{ site.baseurl }}{{ section.permalink }}">{{ section.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="{{ site.baseurl }}{{ collection.url }}">{{ collection.title }}</a>  
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}

    </ul>
  </nav>
</aside>
