<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

  <head>
    {% include head.html %}
  </head>

  <body class="{{ page.title | slugify }}">
		
    {% include navbar.html %}

    {% include sidenav.html %}

    <div class="main-content" id="main-content">
      <div class="styleguide-content usa-content">
				
				

				
		<div class="usa-grid">

			<div class="usa-width-two-thirds"> 
					
			    <h1 id="{{ page.title | slugify }}">
					{{ page.title }}
				</h1>

				{% include cta-top.html %}

			    <p class="usa-font-lead">
					{{ page.lead }}
				</p><!--/usa-font-lead -->
				<div class="usa-serif">
					{{ content }}
				</div><!--/usa-serif -->
			</div><!--/usa-width-two-thirds -->

			<div class="usa-width-one-third desktop-only">

				<div class="usa-grid"> 
					<div class="usa-width-one-whole">
						{% if pageCollection.download-link %}
							<a href="{{ pageCollection.download-link }}" class="btn usa-button-fullwidth usa-button usa-button-gray">
								<span>Download</span>
								<div class="icon"><i class="fa fa-cloud-download"></i></div>
							</a>
						{% endif %}
					</div><!--/usa-width-one-whole -->
					<div class="usa-width-one-whole">
						{% if pageCollection.github-label %}
							<a href="{{ site.repo_url }}/labels/{{ pageCollection.github-label }}" class="btn usa-button usa-button-green usa-button-fullwidth ">
						{% else %}
							<a href="{{ site.repo_url }}" class="btn usa-button usa-button-green usa-button-fullwidth ">
						{% endif %}
							<span>Discuss</span>
							<div class="icon"><i class="fa fa-comments-o"></i></div>
						</a>
					</div><!--/usa-width-one-whole -->
				</div><!--/usa-grid -->
			</div><!--/usa-width-one-third -->
		</div><!--/usa-grid -->

      </div><!--/styleguide-content usa-content -->

      <footer class="usa-styleguide-footer">
        {% include footer.html %}
      </footer>
    </div>

    {% include analytics.html %}

    {% include scripts.html %}

    <script src="{{ site.baseurl }}/assets/uswds-0.9.1/js/uswds.min.js"></script>

  </body>

</html>
