<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->

  <head>
    {% include head.html %}
  </head>

  <body class="{{ page.title | slugify }}">
		
    {% include navbar.html %}

    {% include sidenav.html %}

    <div class="main-content" id="main-content">
      <div class="styleguide-content usa-content">
				
				

				
		<div class="usa-grid">

			<div class="usa-width-one-whole"> 
					
			    <h1 id="{{ page.title | slugify }}">
					{{ page.title }}
				</h1>

				{% include cta-top.html %}

			    <p class="usa-font-lead">
					{{ page.lead }}
				</p><!--/usa-font-lead -->
				<div class="usa-serif">
					{{ content }}
				</div><!--/usa-serif -->
			</div><!--/usa-width-two-thirds -->

		</div><!--/usa-grid -->

      </div><!--/styleguide-content usa-content -->

      <footer class="usa-styleguide-footer">
        {% include footer.html %}
      </footer>
    </div>


    {% include scripts.html %}

    {% include analytics.html %}

    <script src="{{ site.baseurl }}/assets/uswds-0.9.1/js/uswds.min.js"></script>

  </body>

</html>
